.site-title{
  color: #7253ed;
  font-weight: 600;
}

.navigation-list-item .navigation-list-child-list {
  display: block !important;
}

.img-2 {
  max-width: 49%;
}

.img-large {
  max-width: 80%;
}
