.site-title{
  color: #7253ed;
  font-weight: 600;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.site-logo{
  background-position: center;
}

// .my-aux-link{
//   margin-right: 0.25em;
// }
.repo_icon{
  height: 1em;
}

.navigation-list-item .navigation-list-child-list {
  display: block !important;
}

.img-2 {
  max-width: 49%;
}

.img-large {
  max-width: 80%;
}
